
<div class="container">
  <!-- User list -->
  <div class="col-md-3">
    <div class="form-group">
      <label>{{('Operation')}} </label>
      <ng-select placeholder="operation " formControlName="operation_template_id" [multiple]="true"
                 [(ngModel)]="selectedopIds" [items]="datalist"
                 bindLabel="label" bindValue="operation_template_id"
                 [addTag]="addoperation">
        <ng-template ng-header-tmp>
          <label for="check_all_3">
            <input id="check_all_3" type="checkbox" [(ngModel)]="selectedAllop" [ngModelOptions]="{standalone: true}"
                   name="check_all_3" title="Select All" (change)="onSelectAllop()"/>
            Select All
          </label>
        </ng-template>
        <ng-template ng-option-tmp let-item2="item" let-item$="item$" let-index="index">
          <input id="item2-{{index}}" type="checkbox" [ngModel]="item$.selected"
                 [ngModelOptions]="{standalone: true}"/> {{item2.label}}
        </ng-template>
      </ng-select>

    </div>
  </div>

</div>

    <!-- Progress Column -->




