@import "~@ng-select/ng-select/themes/default.theme.css";
.sample-container{
  width: 100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 {
  width: 100%;
  background-color: #f1f1c1;
}
.container{
  width: 100%;
}
