<div>
  <button mat-raised-button (click)="onCreat()">
    <mat-icon> add</mat-icon>Add

  </button>
</div>
  <mat-accordion >

    <mat-expansion-panel *ngFor="let seq of sequenceList" >
      <mat-expansion-panel-header>
        <mat-panel-title>sequence 1</mat-panel-title>
        <mat-panel-description>
          back stitch: {{seq.back_stitch}} | count stitch : {{seq.stitchcount}}|cut stitch
        </mat-panel-description>

        <button (click)="deleteseq(seq.sequence_id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-expansion-panel-header>

      <p>Stitch Count</p>
      <ul>
        <li color="blue">stitch acount : {{seq.stitchcount}}</li>
        <li>positive tolerence : {{seq.stitchcount_positive_tolerence}}</li>
        <li>negative tolerence : {{seq.stitchcount_negative_tolerence}}</li>
      </ul>

      <p color="blue">Back Count : {{seq.back_stitch}}</p>
      <ul>
        <li>positive tolerence : {{seq.back_stitch_positive_tolerence}}</li>
        <li>negative tolerence :  {{seq.back_stitch_negative_tolerence}} </li>
      </ul>

    </mat-expansion-panel>
  </mat-accordion>


