<div class="col-md-6 machine-container">
  <h2 class="text-center">Add Machine</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="label">label:</label>
      <input type="text" formControlName="label" placeholder="label" name="label" class="form-control" id="label">
    </div>

    <div class="form-group">
      <label for="adress_mac">adress_mac:</label>
      <input formControlName="adress_mac" placeholder="adress_mac" name="adress_mac" class="form-control" id="adress_mac">
    </div>

    <div class="form-group">
      <label for="version">version:</label>
      <input type="text" formControlName="version" placeholder="version" name="version" class="form-control" id="version">
    </div>


    <button class="btn btn-success">Add</button>
  </form>
</div>
