
<mat-form-field class="search-form-field" floatLabel="never">
  <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
  <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<div>
  <button mat-raised-button (click)="onCreat()">
    <mat-icon> add</mat-icon>Add

  </button>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="machintypList" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> label </th>
      <td mat-cell *matCellDef="let row"> {{row.type}} </td>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> description </th>
      <td mat-cell *matCellDef="let row"> {{row.description}} </td>
    </ng-container>

    <!-- Color Column -->

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button  (click)="onedit(row)"><mat-icon>launch</mat-icon></button>
        <button mat-icon-button color="warn" (click)="deletemach(row.mach_type_id)"><mat-icon>delete_outline</mat-icon></button>
        <button mat-icon-button [routerLink]="['/planif',row.ordre_id]"><mat-icon>date_range</mat-icon></button>
      </mat-cell>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
